<!DOCTYPE html>
<html lang="it" >
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <body style="background-image: url(https://images.unsplash.com/photo-1459749411175-04bf5292ceea?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80); background-repeat:no-repeat; background-size:cover;">

    <div> <!--Bottone chat pubblica-->
        <a type="button" id="button" href="http://localhost:3230/publicchat?q=<%= name %>&a=<%= artista%>"class="btn btn-success" style="margin-left:45%; margin-bottom:1%;margin-top:3%;"><b>Public Live Chat</b></a>
    </div>
    <div> <!--Bottone chat privata-->
        <a type="button" id="button" href="http://localhost:2000/privatechat?q=<%= name %>"class="btn btn-danger" style="margin-left:45%;margin-bottom:2%;"><b>Private Live Chat</b></a>
    </div>
    <div class="container mt-3" >
      <div class="row ">

    <!--Dal file JSON creato nell'app.js, scandisco le righe e stampo i vari concerti dell'artista cercato -->

          <% evento.forEach(function(lista_eventi) { %>
            <div class="col-lg-4 col-sm-7">
              <h3 style="margin-bottom: 0; color:red;"><b> <%= lista_eventi.luogo %></b> </h3>  <h4 style="color:blue; margin-bottom: 0;"> <i> <b>  <%= lista_eventi.data %> </b></i> </h4> <h3><small style="color:pink;"> <b><%= lista_eventi.nomePosto %></b> </small></h3>
              </div>
          <% }); %>

      </div>
    </div>

  </body>



</html>
